@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000;
}

.row {
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
}

/* .k_head_row {
  display: flex;
  align-items: flex-end;
} */

.k_head_col {
  display: flex;
  align-items: center;
}

.k_top_head {
  color: rgba(90, 90, 90, 1);
}

.k_home_logo img {
  /* height: 80px; */
  width: 132px;
}

.k_head_midname .k_head_midname_text {
  color: rgba(224, 96, 35, 1);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.k_head_midname .k_head_midname_text sup {
  top: -1.5em;
}

.k_TM {
  font-size: 16px;
}

/* Fonts */
.encode-sans-condensed-light {
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* Navs and tabs */
.scroll-wrapper {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.k_navs_head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.k_navs_head {
  border-bottom: none;
}

.k_navs_head,
.nav.nav-tabs {
  background: transparent none repeat scroll 0 0;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  padding: 0;
  /*transition: 0.3s all;*/
}
.nav.nav-tabs > li {
  display: inline-block;
  float: none;
  padding: 10px;
  text-align: center;
}

.custom-active {
  background-color: transparent;
  border: none;
  color: #fff;
}
.k_navs_head .nav-item.show .nav-link,
.k_navs_head .nav-link.active {
  color: #fff !important;
  background-color: transparent;
  border: 5px solid rgba(227, 107, 70, 1);
  border-width: 7px 0 0 0;
  border-radius: 0 !important;
}

.k_navs_head .nav-link {
  border: none;
}

.k_navs_head .k_nav_link img {
  height: 37px;
  width: 100%;
}

.k_navs_head .nav-item {
  position: relative;
}

.k_navs_head .nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 3px;
  height: 60%;
  background-color: orangered;
  margin-left: 10px;
}
